button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #B30B0D;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #8f090a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #B30B0D; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select:focus {
    border-color: #B30B0D;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(155, 10, 11, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #B30B0D;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #86080a; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: Max;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DaxMedium.ttf"); }
body {
  font-family: Max;
  background-color: #EDEDED;
  color: #333333; }

header {
  border-bottom: solid 1px #B30B0D;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 9999;
  background-color: #EDEDED; }

.main-container {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1500px) {
    .main-container {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto; }
      .main-container::after {
        clear: both;
        content: "";
        display: table; } }

.community-banner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .community-banner::after {
    clear: both;
    content: "";
    display: table; }
  .community-banner .text-center {
    font-size: 1.2em;
    color: #7B7B7B; }
    .community-banner .text-center strong {
      font-size: 1.4em;
      color: #606062;
      padding-right: 1%;
      padding-left: 1%; }
    .community-banner .text-center p {
      margin-top: 1.5em;
      padding-right: 15%;
      padding-left: 15%; }
    .community-banner .text-center .p-60 {
      padding-right: 27%;
      padding-left: 27%;
      margin-top: 0; }
  .community-banner .crop {
    overflow: hidden;
    max-height: 370px; }
    .community-banner .crop img {
      width: 100%;
      margin: -20% 0 0 -0px; }

.inverse {
  background-color: #fff; }

.text-center {
  text-align: center; }

.contact-page {
  text-align: justify;
  font-family: Max !important; }
  .contact-page .column-7-block h1 {
    font-family: Max !important;
    font-size: 1.3em;
    padding-top: 3em;
    margin-left: 2%; }
  .contact-page .column-7-block p {
    font-size: 0.9em;
    margin-left: 2%;
    margin-right: 2%; }
  .contact-page .column-7-block .margin-right-20 {
    margin-right: 20%; }
  .contact-page .column-7-block .info {
    color: #B30B0D; }
  .contact-page .column-5-block {
    background-color: #e3e3e3; }
    .contact-page .column-5-block div {
      margin: 0 8% 8% 8%; }
      .contact-page .column-5-block div p {
        padding-top: 3em; }
      .contact-page .column-5-block div input[type=submit] {
        background-color: #B30B0D;
        width: 100%; }
      .contact-page .column-5-block div label {
        color: #4D4D4D; }

.btn-on,
.btn-off {
  background: #fff;
  padding-right: 0 !important;
  line-height: 1;
  padding: .5em 0;
  text-align: center;
  width: 50px;
  border: 1px solid #4D4D4D; }
  .btn-on.active,
  .btn-off.active {
    color: #B30B0D; }

.btn-off {
  margin-left: -5px; }

@media screen and (min-width: 600px) {
  .column-2-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .column-2-block:last-child {
      margin-right: 0; }
    .column-2-block:nth-child(6n) {
      margin-right: 0; }
    .column-2-block:nth-child(6n+1) {
      clear: left; } }

@media screen and (min-width: 600px) {
  .column-4-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .column-4-block:last-child {
      margin-right: 0; }
    .column-4-block:nth-child(3n) {
      margin-right: 0; }
    .column-4-block:nth-child(3n+1) {
      clear: left; } }

@media screen and (min-width: 600px) {
  .column-5-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .column-5-block:last-child {
      margin-right: 0; }
    .column-5-block:nth-child(2n) {
      margin-right: 0; }
    .column-5-block:nth-child(2n+1) {
      clear: left; } }

@media screen and (min-width: 600px) {
  .column-7-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .column-7-block:last-child {
      margin-right: 0; }
    .column-7-block:nth-child(1n) {
      margin-right: 0; }
    .column-7-block:nth-child(1n+1) {
      clear: left; } }

@media screen and (min-width: 600px) {
  .column-8-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .column-8-block:last-child {
      margin-right: 0; } }

@media screen and (min-width: 600px) {
  .column-10-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .column-10-block:last-child {
      margin-right: 0; } }

.navigation .navigation-menu-button {
  display: block;
  float: right;
  margin: 0;
  padding-top: 0.7em;
  font-size: 1.5rem;
  padding-right: .5rem;
  color: #4D4D4D; }
  @media screen and (min-width: 900px) {
    .navigation .navigation-menu-button {
      display: none; } }
.navigation .navigation-wrapper {
  position: relative; }
  .navigation .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table; }
.navigation .logo {
  float: left;
  padding: .5rem 0; }
  .navigation .logo img {
    max-height: 3em;
    padding-right: 1em; }
.navigation nav {
  float: none; }
  @media screen and (min-width: 900px) {
    .navigation nav {
      float: right;
      line-height: 3.9em;
      padding-top: 0.3em; } }
.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%; }
  @media screen and (min-width: 900px) {
    .navigation ul.navigation-menu {
      display: block;
      margin: 0;
      padding: 0; } }
  .navigation ul.navigation-menu.show {
    display: block; }
.navigation ul li.nav-link {
  display: block;
  text-align: right;
  width: 100%;
  padding: .5rem 1rem .5rem 0; }
  @media screen and (min-width: 900px) {
    .navigation ul li.nav-link {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto; } }
.navigation li.nav-link a {
  display: inline-block;
  font-size: 1.1rem;
  color: #4D4D4D; }
  .navigation li.nav-link a.active {
    color: #B30B0D; }
  .navigation li.nav-link a:hover {
    color: #B30B0D; }
  @media screen and (min-width: 900px) {
    .navigation li.nav-link a {
      padding-right: 2em; } }
.navigation li.nav-link.current-menu-item a {
  color: #B30B0D; }

.info-home .frase {
  font-size: 2.0rem;
  margin: .8rem 0 2.5rem 0; }
  @media screen and (min-width: 600px) {
    .info-home .frase {
      font-size: 2.2rem; } }
.info-home .social-container {
  position: fixed;
  left: 10px;
  top: 450px; }
  @media screen and (min-width: 900px) {
    .info-home .social-container {
      position: fixed;
      left: 50px;
      top: 400px;
      padding-top: 1rem; } }
.info-home .botella {
  color: #65A1D5;
  margin-top: 4rem;
  position: relative; }
  @media screen and (min-width: 600px) {
    .info-home .botella {
      position: absolute;
      right: -155px;
      top: -200px; } }
.info-home .botella-title {
  margin-top: 4rem;
  position: relative; }
  @media screen and (min-width: 600px) {
    .info-home .botella-title {
      position: absolute;
      right: -155px;
      top: 80px;
      writing-mode: tb-rl;
      -webkit-transform: rotate(180deg); } }
.info-home .made {
  margin: 3rem 0 .5rem 0;
  font-size: 2rem; }
.info-home .number-post {
  margin-bottom: .6rem;
  font-size: 1.3rem; }

.posts-home .post {
  margin-top: 1rem; }

.padding {
  padding-top: 50px;
  padding-bottom: 50px; }

.sponsors {
  margin-left: 20%;
  margin-right: 20%; }

footer {
  color: #fff;
  padding: 1rem 0;
  background-color: #333; }

.banner {
  padding-top: 70px; }

.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.card {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  margin: 0 1em 0.5em 1em;
  position: relative; }
  .card .card-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: #ccc; }
    .card .card-image img {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 100%;
      -webkit-filter: brightness(0.9);
      filter: brightness(0.9); }
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    text-transform: uppercase;
    color: black; }
    .card .card-header h1 {
      font-size: x-large; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em;
    padding-bottom: 0px;
    color: #848688; }
    .card .card-copy p {
      margin: 0 0 0.75em; }
    .card .card-copy span {
      font-size: 0.7em; }
  .card:focus, .card:hover {
    cursor: pointer; }
    .card:focus img, .card:hover img {
      -webkit-filter: brightness(1);
      filter: brightness(1); }
  .card:active {
    background-color: #f7f7f7; }
    .card:active .card-header {
      background-color: #f7f7f7; }

.modal label {
  cursor: pointer;
  margin-bottom: 0; }
.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px; }
.modal .modal-state {
  display: none; }
.modal .modal-trigger {
  padding: 0.8em 1em; }
.modal .modal-fade-screen {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999; }
  @media screen and (min-width: 900px) {
    .modal .modal-fade-screen {
      padding-top: 10em; } }
  .modal .modal-fade-screen .modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }
.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  cursor: pointer; }
  .modal .modal-close:after, .modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #ddd;
    content: '';
    display: block;
    margin: -3px 0 0 -1px; }
  .modal .modal-close:hover:after, .modal .modal-close:hover:before {
    background: #c4c4c4; }
  .modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: #fff;
  border-radius: 3px;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  width: 95%; }
  @media screen and (min-width: 600px) {
    .modal .modal-inner {
      max-height: 70%;
      width: 60%; } }
  @media screen and (min-width: 900px) {
    .modal .modal-inner {
      width: 35%; } }
  .modal .modal-inner h1 {
    color: #B30B0D;
    text-align: center;
    font-size: 1.3em; }
  .modal .modal-inner p {
    color: #333;
    line-height: 1.5; }
  .modal .modal-inner .modal-intro {
    margin-bottom: 1em; }
  .modal .modal-inner .modal-content {
    color: #333; }
    @media screen and (min-width: 600px) {
      .modal .modal-inner .modal-content {
        -webkit-columns: 2 8em;
        -moz-columns: 2 8em;
        columns: 2 8em; } }
  .modal .modal-inner a.cta {
    color: #fff;
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 1em; }
    .modal .modal-inner a.cta:last-child {
      padding: 0 2em; }
.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible; }
.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em; }

.modal-open {
  overflow: hidden; }

.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em; }

html, body {
  height: 100%; }

.wrapper-for-content-outside-of-footer:after {
  content: "";
  display: block; }

.footer, .wrapper-for-content-outside-of-footer:after {
  height: 12em; }
  @media screen and (min-width: 900px) {
    .footer, .wrapper-for-content-outside-of-footer:after {
      height: 4em; } }

.footer .footer-logo {
  margin-bottom: 1em;
  margin-right: 1em; }
  @media screen and (min-width: 900px) {
    .footer .footer-logo {
      float: left;
      margin-bottom: 0; } }
  .footer .footer-logo img {
    height: 2.2em; }
.footer ul {
  margin: 0;
  padding-left: 0; }
  @media screen and (min-width: 900px) {
    .footer ul {
      float: left;
      padding-top: 0.3em; } }
  .footer ul li {
    line-height: 1.5em;
    padding-right: 1em; }
    @media screen and (min-width: 900px) {
      .footer ul li {
        display: inline;
        text-align: left; } }

.wpcf7 {
  margin: 0 !important; }
  .wpcf7 .legend {
    font-weight: 600;
    margin-bottom: 0.375em; }

.wpcf7-form p {
  padding: 0px !important; }
.wpcf7-form div {
  margin: 0 !important; }
.wpcf7-form .wpcf7-select {
  margin: 0 !important; }

.search-tools {
  padding: 1.618em 0.809em;
  width: 100%; }
  .search-tools li {
    font-size: 0.8em;
    line-height: 1.5em;
    list-style: none; }
  .search-tools label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.375em; }
  .search-tools .filters {
    width: 100%;
    text-align: left;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .search-tools .filters::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 900px) {
      .search-tools .filters {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row; } }
    .search-tools .filters .title {
      padding: 0.5em 4em 0.5em 0.5em; }
  .search-tools .filter {
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    flex-shrink: 1;
    -ms-flex-negative: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    margin: 0 0.2em 1em 0.2em; }
    @media screen and (min-width: 900px) {
      .search-tools .filter {
        margin-bottom: 0; } }
    .search-tools .filter > div {
      background-color: #F7F7F7;
      border: 1px solid #ddd;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 1em;
      padding: 0.5em 4em 0.5em 0.5em; }
      .search-tools .filter > div:focus, .search-tools .filter > div:hover {
        border-color: #c4c4c4; }
      .search-tools .filter > div label {
        cursor: pointer;
        margin-bottom: 0; }
    .search-tools .filter .filter-list {
      margin: 1em 0 0;
      padding: 0; }
      .search-tools .filter .filter-list label {
        display: inline; }
    .search-tools .filter button.clear {
      font-size: 0.7em;
      float: right; }
    .search-tools .filter .hide-options {
      margin-bottom: 0; }
      .search-tools .filter .hide-options ol, .search-tools .filter .hide-options button {
        display: none; }
  .search-tools .trigger button {
    display: block;
    width: 100%;
    text-align: center; }

.blog-posts {
  margin-top: 1.5em;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .blog-posts::after {
    clear: both;
    content: "";
    display: table; }
  .blog-posts .blog-post {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .blog-posts .blog-post:last-child {
      margin-right: 0; }
    .blog-posts .blog-post .card-image {
      height: 400px !important;
      max-height: 400px !important; }
    .blog-posts .blog-post .card-image-full {
      margin-right: auto;
      margin-left: auto;
      width: 70% !important;
      max-width: 70% !important; }
  .blog-posts .blog-post-big {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    min-height: 0px;
    margin-right: 0 !important; }
    .blog-posts .blog-post-big:last-child {
      margin-right: 0; }
    @media screen and (min-width: 600px) {
      .blog-posts .blog-post-big {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        .blog-posts .blog-post-big:last-child {
          margin-right: 0; }
        .blog-posts .blog-post-big .card-image {
          height: 234.5px !important;
          max-height: 234.5px !important; } }
  .blog-posts .blog-post-small {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0 !important; }
    .blog-posts .blog-post-small:last-child {
      margin-right: 0; }
    @media screen and (min-width: 600px) {
      .blog-posts .blog-post-small {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .blog-posts .blog-post-small:last-child {
          margin-right: 0; }
        .blog-posts .blog-post-small .card-copy {
          padding: 0 !important; }
          .blog-posts .blog-post-small .card-copy p {
            display: none; }
        .blog-posts .blog-post-small .card-header {
          padding: 0 !important; } }

/*# sourceMappingURL=style.css.map */
