body
	padding 0
	margin 0
	font-size 14px
	background #000
	
.nm-container
	margin 0 auto
	width 76%
	padding 2%
	border 1px solid #CCC
	min-height 600px
	
.nm-colLeft
	width 55%
	float left
	.nm-header 
		width 80%
		height 150px
		background transparent url("../i/brands.png") left top no-repeat
		background-size 100% 100%
		margin-top 50px 
		opacity 0.4
		margin-left 10%
	
.nm-colRight 
	width 45%
	float right 
	.nm-botella 
		background transparent url("../i/fondo.png") right -150px no-repeat
		min-height 600px

