.wpcf7{
	margin: 0 !important;
	.legend{
		font-weight: 600;
    	margin-bottom: 0.375em;
	}	
}

.wpcf7-form{
	p {
		padding: 0px !important;
	}
	div{
		margin: 0 !important;
	}
	.wpcf7-select{
		margin: 0 !important;
	}
}